<%- include('./partials/header'); -%>


    <div class="head">
        <h2 class="m-3 ">All products that you sell</h2>
        <hr>
    </div>
    <div style="gap: 25px; margin-left: 40px; display: grid; grid-template-columns: auto auto auto auto;" lass=" mt-4">
        <!-- changes    -->
        <% products.forEach(function(elem){ %>
            <% if(user.productid.indexOf(elem.id) !==-1){ %>


                <div class="card" style="width: 18rem;">
                    <% if (user.wishlist.indexOf(elem._id)===-1) { %>
                        <a id="wish" href="wishlist/product/<%=elem.id %>"><i class="ri-heart-fill"></i>
                            Add to wishlist</a>
                        <% } else{ %>
                            <a id="wish" href="wishlist/product/<%=elem.id %>"><i class="ri-heart-fill"
                                    style="color: red;"></i>
                                Remove from wishlist</a>
                            <% } %>
                                <div class="card-body">
                                    <img style="min-height: 15vw;" class="card-img-top embed-responsive-item"
                                        src="../images/uploads/productimages/<%=elem.pic[0]%>" alt="">
                                    <h5 class="card-title mt-3">
                                        <%= elem.name %>
                                    </h5>
                                    </h6>
                                    <p class="card-text">
                                        <%=elem.desc%>
                                    </p>

                                    <% if(user.productid.indexOf(elem.id) !==-1){ %>

                                        <small style=" display: block; margin-bottom: .4vw;">You sell this
                                            product</small>
                                        <a href="#" class="btn btn-primary">Edit</a>
                                        <a href="delete/product/<%= elem.id%>" class="btn btn-danger">Delete</a>

                                        <% } else { %>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                            <% } %>



                                </div>
                </div>
                <% } %>
                    <% }) %>

    </div>
    <%- include('./partials/footer'); -%>